<form action="/api/uploading" method="post" enctype="multipart/form-data">
    <label for="somefile">File</label>
    <input name="somefile" type="file" accept=".csv" />
    <input type="submit" value="Submit" />
</form>
